{% extends 'header.html' %}
{% block body_block %}
   {% load i18n %}

 <script>


 $(function() {
        $( ".datepicker" ).datepicker();
    });




	</script>





   <form action="" method="POST">
   {% csrf_token %}
       {{ userform.management_form }}
    {{ userform }}



   <br/>
      <a href="/to_do_list/mainpage/" class="btn btn-info" role="button">Cancel</a>
       <input id="commp" type="submit" name="editform" value="update" class="btn btn-info">
 </form>
















{% endblock %}