{% extends 'header.html' %}

{% block body_block %}


    <h1>Welome</h1>


<a href="{% url "createtask" %}" class="btn btn-lg btn-info" role="button">Create New Task</a>
    &nbsp;
<a href="/to_do_list/creategrp/{{ userprofile }}" class="btn btn-lg btn-info" role="button">Create New Group</a>
<br/>
<br/>

    <div class="accordion" id="accordion2"
         style="background-color: #ffffff;border: 2px darkgray;border-radius: 10px;padding: 0 8px;">
    <form action="" method="POST">
    <div class="accordion-group" style="border-color: #ffffff">

        <div class="accordion-heading">
            <a class="accordion-toggle btn btn-block" data-toggle="collapse" data-parent="#accordion2"
               href="#collapseOne">Incomplete Task</a>
        </div>

        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">


                {% csrf_token %}

                {% if task_d %}




                    <div class="panel-group" id="accordion">


                        <div class="panel panel-default">
                        <table class="table table-hover">
                            <th>Task name</th><th>Set completed</th>
                            {% for task in task_d %}
                                <tr>
                               <!-- <td>-->
                                <div class="panel-heading">
                                    <!--<table class="table table-hover">-->

                                        <!--<tr>-->
                                            <td>
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse{{ task.id }}">
                                                        {{ task.TaskName }}
                                                    </a>
                                                </h4>
                                            </td>
                                            <td>
                                                {{ task.id }}<input type="checkbox" name="mark_done"
                                                                    value="{{ task.id }}"
                                                                    id="mark_done_{{ task.id }}">
                                            </td>
                                            <td>
                                                <a href="/to_do_list/edittask/{{ task.id }}"
                                                   class="btn btn-info btn-small"
                                                   role="button">edit task</a>
                                            </td>
                                        <!--</tr>-->
                                    <!--</table>-->
                                </div>
                               <!-- </td>-->
                                </tr>
                                <tr>
                                <td>
                                <div id="collapse{{ task.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table><tr>
                                        <td>
                                        <ul style="list-style: none">
                                            <li><b>Group:</b></li>
                                            <li><b>Details:</b>
                                            <li><b>Priority:</b>
                                            <li><b>Start Date:</b>
                                            <li><b>End Date:</b>
                                        </ul>
                                            </td>
                                           <td>
                                        <ul style="list-style: none">
                                            <li>{{ task.Group }}</li>
                                            <li>{{ task.Details }}</li>
                                            <li>{{ task.get_Priority_display }}</li>
                                            <li>{{ task.StartDate }}</li>
                                            <li>{{ task.EndDate }}</li>
                                        </ul>
                                            </td>
                                    </tr></table>
                                    </div>
                                </div>
                                </td>
                                </tr>
                            {% endfor %}
                        </table>
                        </div>


                    </div>
<input id="mark_tasks_done" type="submit" name="mark_tasks_done" value="update"
                                        class="btn btn-info">




                {% else %}
                    <strong>You do not have Task Currently</strong>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="accordion-group" style="border-color: #ffffff">

        <div class="accordion-heading">
            <a class="accordion-toggle btn btn-block" data-toggle="collapse" data-parent="#accordion2"
               href="#collapseTwo">My Groups</a>
        </div>

        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">


                {% if groupin %}

                    <ul>
                        <b>click on the group name to manage group task. Personal task are consider as a group.</b>
                        {% for groupin in groupin %}
                            <li><a href="/to_do_list/viewgroup/{{ groupin.url }}">{{ groupin.MemGroupName }}</a>
                            </li>

                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No group.</strong>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="accordion-group" style="border-color: #ffffff">

        <div class="accordion-heading">
            <a class="accordion-toggle btn btn-block" data-toggle="collapse" data-parent="#accordion2"
               href="#collapsethree">Completed Task</a>
        </div>

        <div id="collapsethree" class="accordion-body collapse in">
            <div class="accordion-inner">
<!-------------------------------------------------------------------------------------------->

                {% if task_c %}

				 <div class="panel-group" id="accordion">
					<div class="panel panel-default">

                    <table class="table table-hover">

                        <tr>
                            <th>Task Name</th>
                            <th>set to incomplete</th>
                            <th>Delete Task</th>
                        </tr>
                        {% for task in task_c %}


                            <tr>

							 <div class="panel-heading">
                                <td>
                                   <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse{{ task.id }}">
                                                        {{ task.TaskName }}
                                                    </a>
                                                </h4>
                                </td>
                                <td>
                                    {{ task.id }}<input type="checkbox" name="undo_completed_task"value="{{ task.id }}"id="id_undo_completed_task{{ task.id }}">
                                </td>
                                <td>
                                    <input type="checkbox" name="del_task" value="{{ task.id }}"id="del_task_{{ task.id }}">
                                </td>
							</div>
                            </tr>

                            <tr>
                                <td>
                                   <div id="collapse{{ task.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table><tr>
                                        <td>
                                        <ul style="list-style: none">
                                            <li><b>Group:</b></li>
                                            <li><b>Details:</b>
                                            <li><b>Priority:</b>
                                            <li><b>Start Date:</b>
                                            <li><b>End Date:</b>
                                        </ul>
                                            </td>
                                           <td>
                                        <ul style="list-style: none">
                                            <li>{{ task.Group }}</li>
                                            <li>{{ task.Details }}</li>
                                            <li>{{ task.get_Priority_display }}</li>
                                            <li>{{ task.StartDate }}</li>
                                            <li>{{ task.EndDate }}</li>
                                        </ul>
                                            </td>
                                    </tr></table>
                                    </div>
                                </div>
                                </td>

                            </tr>


                        {% endfor %}


                    </table>
				</div>
                  </div>
                    <input id="mark_task_undone" type="submit" name="mark_task_undone" value="update"
                                       class="btn btn-info">
                {% else %}
                    <strong>You do not have Completed Task Currently</strong>
                {% endif %}

<!----------------------------------------------------------------------------------->
            </div>
        </div>
    </div>


    </form>
    </div>



{% endblock %}
