{% extends 'header.html' %}
{% block body_block %}

      <h1>{{ group_name }}</h1>
   <!--  <a href="/to_do_list/createtask/{{ grp.id }}" class="btn btn-lg btn-info" role="button">Create New Task</a><br/>-->
    <a href="{% url 'mainpage' %}" class="btn btn-lg btn-info" role="button">Main Page</a><br/>
    <br/>
            {% if task %}
            <ul>
                {% for t in task %}
                <li><b>Task Name:</b> {{ t.TaskName }}</li>
                    <li><b>Details:</b> {{ t.Details }}</li>
                    <li><b>Priority:</b> {{ t.get_Priority_display }}</li>
                    <li><b>Completed:</b> {{ t.Completed }}</li>
                    <li><b>Start/End Date:</b> {{ t.StartDate }}/ {{ t.EndDate }}</li>
                    <hr>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No Task in this group.</strong>
            {% endif %}
     <h1>group members</h1>

            {% if members %}
            <ul>
                {% for m in members %}
                <li><b>Member Name:</b> {{ m.MemberName }}</li>

                {% endfor %}
            </ul>
            {% else %}
                <strong>No Task in this group.</strong>
            {% endif %}














{% endblock %}